name: Debug Image Building With Signature and Provenance

"on":
  push:
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write
  id-token: write

env:
  GH_TOKEN: ${{ github.token }}
  IMAGE_REGISTRY: ghcr.io
  IMAGE_OWNER: ${{ github.repository_owner }}
  IMAGE_REPOSITORY: debug-image-sign_provenance
  VERSION_TAG: version-${{ github.sha }}
  PURPOSE_TAG: latest
  DOCKERFILE: test-image-sign_provenance/Dockerfile
  BUILD_CONTEXT: test-image-sign_provenance/

jobs:

  set-globals:
    name: Set global vars
    runs-on: ubuntu-latest
    outputs:
      UNIQUE: ${{ steps.output-vars.outputs.UNIQUE }}
    steps:
      - name: Output global vars
        id: output-vars
        run: |
          set -euo pipefail
          UNIQUE="${{ github.sha }}-$(uuidgen)"
          {
            echo "UNIQUE=${UNIQUE}"
          } >> "$GITHUB_OUTPUT"
          echo "UNIQUE: ${UNIQUE}" >&2

  build:
    name: "${{ matrix.arch }}: Build, sign, and publish image util"
    runs-on: ${{ matrix.runner }}
    needs: set-globals
    strategy:
      matrix:
        include:
          - arch: amd64
            platform: linux/amd64
            runner: ubuntu-latest
    env:
      ARCH_SUFFIX: ${{ matrix.arch }}
      PLATFORM: ${{ matrix.platform }}
      UNIQUE: ${{ needs.set-globals.outputs.UNIQUE }}

    steps:

      - name: Write image tags to env
        run: |
          set -euo pipefail
          IMAGE_REF="${IMAGE_REGISTRY}/${IMAGE_OWNER}/${IMAGE_REPOSITORY}"
          IMAGE_VERSION_TAG="${IMAGE_REF}:${VERSION_TAG}-${{ matrix.arch }}"
          IMAGE_PURPOSE_TAG="${IMAGE_REF}:${PURPOSE_TAG}-${{ matrix.arch }}"
          IMAGE_TEST_TAG="${IMAGE_REF}:${UNIQUE}-${{ matrix.arch }}-test"
          {
            echo "IMAGE_REF=${IMAGE_REF}"
            echo "IMAGE_VERSION_TAG=${IMAGE_VERSION_TAG}"
            echo "IMAGE_PURPOSE_TAG=${IMAGE_PURPOSE_TAG}"
            echo "IMAGE_TEST_TAG=${IMAGE_TEST_TAG}"
          } >> "$GITHUB_ENV"

      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3.11.1
        with:
          driver: docker-container

      - name: Log in to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build test image
        id: build_image
        uses: docker/build-push-action@v6
        with:
          context: ${{ env.BUILD_CONTEXT }}
          file: ${{ env.DOCKERFILE }}
          push: true
          provenance: true
          platforms: ${{ env.PLATFORM }}
          tags: |
            ${{ env.IMAGE_TEST_TAG }}
